-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "SiteSettings" (
    "id" INTEGER NOT NULL DEFAULT 1,
    "resultsPageTitle" TEXT NOT NULL,
    "resultsPageSubtitle" TEXT NOT NULL,
    "resultsStatusLabel" TEXT NOT NULL,
    "featuredEventId" TEXT,
    "publicFooterNote" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SiteSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Event" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "logoUrl" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "dateStart" TEXT NOT NULL,
    "dateEnd" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "speedRunImportStatusTrial" TEXT NOT NULL,
    "speedRunImportStatusRun1" TEXT NOT NULL,
    "speedRunImportStatusRun2" TEXT NOT NULL,
    "algeTriggerCountByKey" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Stage" (
    "id" TEXT NOT NULL,
    "eventId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "leg" INTEGER NOT NULL,
    "distanceKm" DOUBLE PRECISION,
    "firstCarStartTime" TEXT,
    "progressStatus" TEXT NOT NULL,

    CONSTRAINT "Stage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Entry" (
    "id" TEXT NOT NULL,
    "eventId" TEXT NOT NULL,
    "startNumber" INTEGER NOT NULL,
    "entrance" TEXT NOT NULL,
    "start" BOOLEAN NOT NULL,
    "trialStartTime" TEXT NOT NULL,
    "trialFinishTime" TEXT NOT NULL,
    "run1StartTime" TEXT NOT NULL,
    "run1FinishTime" TEXT NOT NULL,
    "run2StartTime" TEXT NOT NULL,
    "run2FinishTime" TEXT NOT NULL,
    "driver" TEXT NOT NULL,
    "coDriver" TEXT NOT NULL,
    "car" TEXT NOT NULL,
    "class" TEXT NOT NULL,
    "driverCountryCode" TEXT NOT NULL,
    "coDriverCountryCode" TEXT NOT NULL,

    CONSTRAINT "Entry_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Stage_eventId_order_idx" ON "Stage"("eventId", "order");

-- CreateIndex
CREATE INDEX "Entry_eventId_startNumber_idx" ON "Entry"("eventId", "startNumber");

-- AddForeignKey
ALTER TABLE "Stage" ADD CONSTRAINT "Stage_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES "Event"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Entry" ADD CONSTRAINT "Entry_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES "Event"("id") ON DELETE CASCADE ON UPDATE CASCADE;

